<div class="f8-event__wrap">
  <div class="user-avatar margin-right-10 pull-left">
    <img class="user-assign-avatar"
      placement="right"
      container="body"
      *ngIf="(event.modifier | async).avatar"
      [src]="(event.modifier | async).avatar | almAvatarSize:30"/>
  </div>
  <div class="f8-event-body">
    <strong class="f8-event-author pull-left margin-right-5">
      {{(event.modifier | async).name.split(' ')[0]}}
    </strong>
    <span
      *ngIf="textType === 'description'">
        edited the description
    </span>
    <span class="margin-h-5"
      *ngIf="textType === 'attribute'" >
      <span [innerHTML]=intermediateText></span>
      <i> '{{event.oldValue}}' </i>
      {{ toText }} 
      <i> '{{event.newValue}}'</i>
    </span>
    <span class="margin-h-5"
      *ngIf="textType === 'relationship'" >
      <span [innerHTML]=intermediateText></span>
      <i *ngFor="let item of event.newValueRelationships"> '{{item.name}}' </i>
      <ng-container *ngIf="toText">{{ toText }} 
        <i *ngFor="let item of event.oldValueRelationships"> '{{item.name}}'</i>
      </ng-container>
    </span>
    <div class="audit-trail__label"
      *ngIf="textType === 'label'" >
      <span class="margin-h-5"
        [innerHTML]=intermediateText>
      </span>
      <f8-label 
        class="margin-h-5"
        [labels]='event.newValueRelationships'
        [allowDelete]="false"
        [context]="'detail'">
      </f8-label>
      <ng-container *ngIf="toText">
        <span class="margin-h-5"> {{ toText }} </span>
        <f8-label
          class="margin-h-5"
          [labels]='event.oldValueRelationships'
          [allowDelete]="false"
          [context]="'detail'">
        </f8-label>
      </ng-container>
    </div>
    <small class="f8-event--create-time"
      [tooltip]="event.timestamp | date:'medium'">
      | {{event.timestamp | f8Time}}
    </small>
  </div>
</div>