<div class="width-100 pull-left padding-15 comment">
  <f8-markdown
    [attr.id]="'comment_body_' + counter"
    [editAllow]="comment.allowEdit"
    [rawText]="comment.body"
    [renderedText]="comment.bodyRendered  | safe: 'html'"
    [placeholder]="'Add a new comment...'"
    (onSaveClick)="updateComment($event, comment)"
    (showPreview)="showPreview($event)">
  </f8-markdown>
</div> 

<!-- Add reply section -->
<div class="width-100 pull-left padding-h-15 margin-bottom-15 reply"
  [class.f8-comment__reply--active]="replyActive"
  [class.f8-comment__reply]="!replyActive"
  *ngIf="!comment.parentId"> 

  <div class="f8-comment__reply__button"
    (click)="replyActive=true; replyEditor?.enableEditor();">
    <span class="fa fa-reply"></span>
    {{ 'Reply' }}
  </div>

  <div class="f8-comment__reply__button">
    <span class="ppficon pficon-edit"></span>
    {{ 'Edit' }}
  </div>
  <!-- Add reply button-->
  <!-- <button class="btn pull-right"
    (click)="replyActive=true; replyEditor?.enableEditor();">
    {{ 'Reply' }}
  </button>  -->

  <!-- Reply editor -->
  <div class="width-100 pull-left">
    <f8-markdown
      #replyEditor
      [class.hide]="!replyActive"
      [editAllow]="true"
      [rawText]="''"
      [renderedText]="''"
      [placeholder]="'Add a new reply...'"
      (onSaveClick)="createComment($event); replyActive = false;"
      (showPreview)="showPreview($event)"
      (onCloseClick)="replyActive = false">
    </f8-markdown>
    <fabric8-comment
      *ngFor="let childComment of comment.children"
      [comment]="childComment"
      (onUpdateRequest)="updateChildComment($event)">
    </fabric8-comment>
    <a href="#">View 2 more replies</a>
  </div>
</div> 
